<div class="main-container">
    <app-header></app-header>
    <div class="details-container">
        <div class="personal-details-container">
            <p class="introduction-message">Hi</p>
            <div class="personal-info-container">
                <p class="name">{{name}}</p>
                <p class="github-detail">{{githubLink}}</p>
            </div>
        </div>
        <div class="weather-details-container">
            <div class="input-container">
                <p class="city-input-label">City</p>
                <div class="weather-input-container">
                    <input type="text" class="city-input" placeholder="Enter City">
                    <button class="get-weather-button">Display Weather</button>
                </div>
            </div>
        </div>
    </div>
</div>