<div class="main-container">
    <app-header [shouldHaveBack]="true" (backClickEvent)="backClicked($event)"></app-header>
    <div class="details-container">
        <p class="city-label">{{weatherDetails.cityName}}</p>
        <div class="weather-details">
            <div class="weather-main-details">
                <table mat-table [dataSource]="dataSource" class="weather-details-table">
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date (mm/dd/yyyy) </th>
                        <td mat-cell *matCellDef="let weatherDetails"> {{weatherDetails.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="temperature">
                        <th mat-header-cell *matHeaderCellDef> Temp(F) </th>
                        <td mat-cell *matCellDef="let weatherDetails"> {{weatherDetails.temperature}} </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let weatherDetails"> {{weatherDetails.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="main">
                        <th mat-header-cell *matHeaderCellDef> Main </th>
                        <td mat-cell *matCellDef="let weatherDetails"> {{weatherDetails.main}} </td>
                    </ng-container>
                    <ng-container matColumnDef="pressure">
                        <th mat-header-cell *matHeaderCellDef> Pressure </th>
                        <td mat-cell *matCellDef="let weatherDetails"> {{weatherDetails.pressure}} </td>
                    </ng-container>
                    <ng-container matColumnDef="humidity">
                        <th mat-header-cell *matHeaderCellDef> Humidity </th>
                        <td mat-cell *matCellDef="let weatherDetails"> {{weatherDetails.humidity}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>