.main-container {
    .details-container {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;

        .city-label {
            color: #027f83;
            font-size: 3rem;
            font-weight: 700;
        }
    }
}